header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  font-family: Verdana;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  padding-left: 20px;
}

.title {
  color: mediumaquamarine;
  padding: 20px 0 0 10px;
  width: 80px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

span {
  display: inline-block;
  padding: 10px;
}

.navigation {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 10px 40px 0 0;
}

a:link {
  color: black;
}

.main.content {
  display: inline-flex;
  padding-top: 100px;
}

.column {
    display: flex;
    flex-direction: column;
}

  /* Formatting for the 1st column */
.column.large {
  display: flex;
  width: 630px;
  flex-wrap: wrap;
  margin: 20px 32px 0 0;
  border: 1px solid black;
}

.mother.story {
  border: 1px solid black;
  width: 100%;
  background-image:
    url("../../resources/images/img-story-main.png");
  height: 300px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 0px;
}

.fall.cancelled {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image:
    url("../../resources/images/img-story-2.png");
  height: 300px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 15px;
}

.hipster {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
    url("../../resources/images/img-story-3.png");
  height: 300px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 15px;
}

.stories {
  border: 1px solid black;
  display: flex;
  font-size: 17px;
  color: black;
  font-family: Georgia;
}

.story {
  display: flex;
  flex-direction: column;
}

  /* Formatting for the 2nd column */
.column.medium {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  margin: 20px 32px 0 0;
  border: 1px solid black;
}

.cats {
  border: 1px solid black;
  display: block;
  background-image:
    url("../../resources/images/img-story-1.png");
  height: 300px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 15px;
}

span div {
  width: 100%;
  display: flex;
}

  /* Formatting for the 3rd column */
.column.small {
  display: flex;
  width: 240px;
  flex-wrap: wrap;
  margin: 20px 32px 0 0;
  border: 1px solid black;
}

.cookie {
  height: 240px;
  width: 240px;
}

.bites {
  display: block;
}

div {
  display: block;
}
